<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Goodbye!</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/jquery-3.7.1.min.js"></script>
        <script src="static/js/socket.io.min.js"></script>
        <script src="static/js/pca.js" defer></script>
    </head>
    <body class="text-center bg-dark text-white">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column align-items-center justify-content-center" style="height: 100vh;">
            <main role="main" class="inner cover">
                <h1 class="cover-heading">Bon Appétit!</h1>
                <p class="lead">Thank you for exploring recipes with Cookpanion.</p>
                <p class="lead">We hope you found something delicious.</p>
                <p><i>Feel free to restart the agent to find another recipe.</i></p>
            </main>
        </div>
    </body>
</html>