<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Confirm Recipe</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/jquery-3.7.1.min.js"></script>
        <script src="static/js/socket.io.min.js"></script>
        <script src="static/js/pca.js" defer></script>
    </head>
    <body class="bg-light">
        <div id="main" class="container mt-5">
            <nav class="navbar mb-1" style="position: absolute; top: 0; right: 0;">
                <button class="btn" id="mic">
                    <img class="img-fluid" style="width:2.5rem;" id="micimg" src="static/images/mic_out.png" alt="Mic">
                </button>
            </nav>

            <div class="card shadow mx-auto" style="max-width: 800px;">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img id="confirmImg" src="" class="card-img h-100" alt="Recipe Image" style="object-fit: cover; min-height: 300px;">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title" id="confirmTitle">Recipe Name</h3>
                            <p class="card-text text-muted">Is this what you would like to cook?</p>

                            <hr>
                            <h5 class="mt-3">Details</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Time:</strong> <span id="confirmTime">-</span> mins</li>
                                <li class="list-group-item"><strong>Servings:</strong> <span id="confirmServings">-</span></li>
                                <li class="list-group-item"><strong>Cuisine:</strong> <span id="confirmCuisine">-</span></li>
                            </ul>

                            <hr>
                            <h5 class="mt-3">Ingredients</h5>
                            <ul class="list-group mb-3" id="confirmIngredients">
                            </ul>

                            <h5 class="mt-3">Instructions</h5>
                            <ol id="confirmInstructions">
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            
            <footer class="fixed-bottom">
                <p class="lead mb-0 bg-light text-center" style="min-height:2rem; font-size: 0.8rem;" id="transcript">...</p>
            </footer>
        </div>
    </body>
</html>